main.main-about-lp
  ul#smart-portfolio
    - for (var x = 1; x < 7; x++)
      li(class='image-item image-'+x)
        a(href="#")
          //- img(src='img/clients/' + x + '.png')
  #more-button.btn-load.loading-div  Загрузить еще
